
<div class="redbg" style="position:fixed; width:100%; z-index:1;">

 
   		<div class="imgback imgbackdiv" ng-click="AppCtrl.changePage(1)"></div>
   			
                 
             <div class="text-center">
                <p class="pclass">DASHBOARD</p>
             </div> 
            
            
          <div class="fa fa-sign-out logoutdiv" ng-click="AppCtrl.changePage(1)">
                  
                </div> 
                  
</div>
<div style="background-color:white !important; height:530px !important;  padding-top: 30px" ng-click="togglebody();">
<!-- <div class="container"> -->
    <div id="rectangle1" ng-click="latencyStatus(4);"><label class="undercircle" >Data Latency Status</label></div>
	<div id="rectangle2"  ng-click="etljobreport(3)"><label class="undercircle jobreport">ETL Job Report</label></div>
	<div id="rectangle3"  ng-click="etltrend(5)"><label class="undercircle feedback">ETL Job Report Trend</label></div>
<!-- </div> -->
</div>